@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~bootstrap-icons/font/bootstrap-icons.css';

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@layer base {
  * {
    @apply text-gray-500;
  }
  body {
    @apply bg-slate-50;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
/* 
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
